
.pm {
  height: 100%;
}

.pmList {
  height: calc(100% - 140px);
  overflow-y: auto;
}


.pmMessage {
  margin-bottom: 10px;
}
.pmMessage:hover {
  background-color: #fff;
}
.pmMessageAvatar {
  width: 35px;
  height: 35px;
  background-color: #555;
  display: inline-block;
  vertical-align: top;
}
.pmMessageContent {
  display: inline-block;
  width: calc(100% - 35px);
  padding-left: 5px;
  box-sizing: border-box;
}
.pmMessageUsername {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  color: #666;
}
.pmMessageDate {
  display: inline-block;
  vertical-align: top;
}


.pmForm {
  background-color: #aaa;
  height: 140px;
  max-height: 140px;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.pmFormInput {
  height: 90px;
  max-height: 90px;
}

.pmPanel {
  text-align: right;
  margin-top: 5px;
}

.pmFormSend {
  width: 100px;
}
