.dialogs {
  padding: 5px;
}

.header {
  display: flex;
}

.title {
  flex-grow: 1;
}

.item {
  display: block;
}

.plus {
  text-decoration: none;
  border-radius: 100%;
  border: 1px solid #000;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
