.profile {
  display: flex;
  align-items: center;
  padding: 5px;
  flex-shrink: 0;
}

.img {
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.username {
  margin-left: 5px;
  font-size: 15px;
  flex-grow: 1;
}

.config {
  margin-left: 5px;
}
