.home {
  height: 100%;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.homeTabs {
  display: flex;
  margin-bottom: 10px;
  width: 170px;
}

.homeTab {
  text-align: center;
  background-color: #ccc;
  flex-grow: 1;
  cursor: pointer;
}

.homeTabActive {
  background-color: #555;
}

.homePage {
  display: none;
  flex-direction: column;
}

.homePageActive {
  display: flex;
}
